<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/LocationDB.csdl|res://*/LocationDB.ssdl|res://*/LocationDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=traveler20180321090543dbserver.database.windows.net;initial catalog=Db-Location;persist security info=True;user id=rperrusset;password=LOUlosc38;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>